In [1]:
import pandas as pd

df = pd.read_parquet("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/historical/AAPL.parquet")
df.sort_values('Date')

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
0,2015-01-02,24.288584,27.332500,27.860001,26.837500,27.847500,212818400,AAPL
1,2015-01-05,23.604332,26.562500,27.162500,26.352501,27.072500,257142000,AAPL
2,2015-01-06,23.606556,26.565001,26.857500,26.157499,26.635000,263188400,AAPL
3,2015-01-07,23.937574,26.937500,27.049999,26.674999,26.799999,160423600,AAPL
4,2015-01-08,24.857309,27.972500,28.037500,27.174999,27.307501,237458000,AAPL
...,...,...,...,...,...,...,...,...
2617,2025-05-30,200.850006,200.850006,201.960007,196.779999,199.369995,70819900,AAPL
2618,2025-06-02,201.699997,201.699997,202.130005,200.119995,200.279999,35423300,AAPL
2619,2025-06-03,203.270004,203.270004,203.770004,200.960007,201.350006,46381600,AAPL
2620,2025-06-04,202.820007,202.820007,206.240005,202.100006,202.910004,43604000,AAPL
2621,2025-06-05,200.630005,200.630005,204.750000,200.149994,203.500000,55126100,AAPL

In [2]:
df = pd.read_csv("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/processed/fundamentals_evolucion.csv")
df.head()

,ticker,year,EPS,BVPS,P/E,P/B,ROE,Debt/Equity,Current Ratio,Dividend Yield,Payout Ratio,Net Margin,Asset Turnover,Price/Sales,Free CF/Share,Operating CF/Share,Graham Number,EPS Growth (%),Precio Actual,Margen Graham (%)
0,A,2020,2.33,15.770227,43.874562,6.473591,0.147548,0.484096,2.327880,0.007037,0.308762,0.134669,0.554586,5.908562,2.595469,2.980583,28.753332,NaN,113.940002,-74.76
1,A,2021,3.98,17.726974,39.459702,8.859944,0.224531,0.506402,2.224239,0.004943,0.195041,0.191486,0.590285,7.555980,4.263158,4.884868,39.842822,70.82,113.940002,-65.03
2,A,2022,4.19,17.742475,32.987759,7.797672,0.236381,0.521960,2.030091,0.006044,0.199362,0.183119,0.650209,6.040691,3.414716,4.387960,40.898311,5.28,113.940002,-64.11
3,A,2023,4.22,19.880952,24.508694,5.199449,0.212147,0.467921,2.611354,0.008720,0.213710,0.181472,0.634860,4.447648,5.013605,6.027211,43.447629,0.72,113.940002,-61.87
4,A,2024,4.44,20.337931,29.317223,6.407240,0.218549,0.574771,2.089182,0.007251,0.212568,0.198003,0.549553,5.804900,4.734483,6.037931,45.075041,5.21,113.940002,-60.44

In [3]:
df[df["ticker"] == "A"].sort_values("year")

,ticker,year,EPS,BVPS,P/E,P/B,ROE,Debt/Equity,Current Ratio,Dividend Yield,Payout Ratio,Net Margin,Asset Turnover,Price/Sales,Free CF/Share,Operating CF/Share,Graham Number,EPS Growth (%),Precio Actual,Margen Graham (%)
0,A,2020,2.33,15.770227,43.874562,6.473591,0.147548,0.484096,2.327880,0.007037,0.308762,0.134669,0.554586,5.908562,2.595469,2.980583,28.753332,NaN,113.940002,-74.76
1,A,2021,3.98,17.726974,39.459702,8.859944,0.224531,0.506402,2.224239,0.004943,0.195041,0.191486,0.590285,7.555980,4.263158,4.884868,39.842822,70.82,113.940002,-65.03
2,A,2022,4.19,17.742475,32.987759,7.797672,0.236381,0.521960,2.030091,0.006044,0.199362,0.183119,0.650209,6.040691,3.414716,4.387960,40.898311,5.28,113.940002,-64.11
3,A,2023,4.22,19.880952,24.508694,5.199449,0.212147,0.467921,2.611354,0.008720,0.213710,0.181472,0.634860,4.447648,5.013605,6.027211,43.447629,0.72,113.940002,-61.87
4,A,2024,4.44,20.337931,29.317223,6.407240,0.218549,0.574771,2.089182,0.007251,0.212568,0.198003,0.549553,5.804900,4.734483,6.037931,45.075041,5.21,113.940002,-60.44

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])

df[df["ticker"] == "AAPL"].sort_values("year")