In [12]:
import pandas as pd

df = pd.read_parquet("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/historical/AAPL.parquet")
df.tail()

,"('Date', '')","('Adj Close', 'AAPL')","('Close', 'AAPL')","('High', 'AAPL')","('Low', 'AAPL')","('Open', 'AAPL')","('Volume', 'AAPL')"
2611,2025-05-21,202.089996,202.089996,207.039993,200.710007,205.169998,59211800
2612,2025-05-22,201.360001,201.360001,202.750000,199.699997,200.710007,46742400
2613,2025-05-23,195.270004,195.270004,197.699997,193.460007,193.669998,78432900
2614,2025-05-27,200.210007,200.210007,200.740005,197.429993,198.300003,56288500
2615,2025-05-28,200.419998,200.419998,202.729996,199.899994,200.679993,43425800

In [14]:
import json
import os

# Ruta al archivo JSON
filepath = "/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/fundamentals/AAPL.json"

# Leer el archivo JSON
with open(filepath, 'r') as f:
    data = json.load(f)

# Ver estructura (ejemplo)
print(json.dumps(data, indent=4)[:1000])  # imprime primeros 1000 caracteres para ver la estructura

{
    "profile": [
        {
            "symbol": "AAPL",
            "price": 200.42,
            "beta": 1.275,
            "volAvg": 62497333,
            "mktCap": 2993433036000,
            "lastDiv": 1.01,
            "range": "169.21-260.1",
            "changes": 0.21,
            "companyName": "Apple Inc.",
            "currency": "USD",
            "cik": "0000320193",
            "isin": "US0378331005",
            "cusip": "037833100",
            "exchange": "NASDAQ Global Select",
            "exchangeShortName": "NASDAQ",
            "industry": "Consumer Electronics",
            "website": "https://www.apple.com",
            "description": "Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, B

In [ ]:
import pandas as pd

# Por ejemplo, convertir ratios en DataFrame
ratios_df = pd.DataFrame(data["ratios"])
print(ratios_df.head())

# Lo mismo con income_statement
income_df = pd.DataFrame(data["income_statement"])
print(income_df.head())

# Balance sheet
balance_df = pd.DataFrame(data["balance_sheet"])
print(balance_df.head())

In [15]:
# Por ejemplo, convertir ratios en DataFrame
ratios_df = pd.DataFrame(data["ratios"])
print(ratios_df.head())

  symbol        date calendarYear period  currentRatio  quickRatio  cashRatio  \
0   AAPL  2024-09-28         2024     FY      0.867313    0.826007   0.169753
1   AAPL  2023-09-30         2023     FY      0.988012    0.944442   0.206217
2   AAPL  2022-09-24         2022     FY      0.879356    0.847235   0.153563
3   AAPL  2021-09-25         2021     FY      1.074553    1.022115   0.278449
4   AAPL  2020-09-26         2020     FY      1.363604    1.325072   0.360710

   daysOfSalesOutstanding  daysOfInventoryOutstanding  operatingCycle  ...  \
0               61.832560                   12.642571       74.475130  ...
1               58.075649                   10.791292       68.866941  ...
2               56.400205                    8.075698       64.475903  ...
3               51.390969                   11.276593       62.667561  ...
4               49.787534                    8.741883       58.529418  ...

   priceToSalesRatio  priceEarningsRatio  priceToFreeCashFlowsRatio  \
0           8.938229           37.287278                  32.122569
1           7.032808           27.790812                  27.068302
2           6.186138           24.441824                  21.888924
3           6.707591           25.916254                  26.397759
4           7.097229           33.935934                  26.556204

   priceToOperatingCashFlowsRatio  priceCashFlowRatio  \
0                       29.556381           29.556381
1                       24.384808           24.384808
2                       19.970097           19.970097
3                       23.585141           23.585141
4                       24.150233           24.150233

   priceEarningsToGrowthRatio  priceSalesRatio  dividendYield  \
0                  -45.937927         8.938229       0.004359
1                  170.913493         7.032808       0.005574
2                    2.887190         6.186138       0.006084
3                    0.363486         6.707591       0.005896
4                    3.170889         7.097229       0.007227

   enterpriseValueMultiple  priceFairValue
0                26.524727       61.372438
1                22.068771       43.374791
2                19.520314       48.140340
3                20.752119       38.892865
4                25.087113       29.818270

[5 rows x 58 columns]

In [16]:
# Tomamos la fila más reciente de ratios (último año)
latest_ratios = ratios_df.iloc[0]

pe_ratio = latest_ratios.get("priceEarningsRatio")
debt_to_equity = latest_ratios.get("debtEquityRatio")

print(f"PE Ratio: {pe_ratio}")
print(f"Deuda/Capital: {debt_to_equity}")

# Ejemplo de filtro
if pe_ratio is not None and debt_to_equity is not None:
    if pe_ratio < 15 and debt_to_equity < 1:
        print("Cumple criterio de Graham: PE bajo y deuda baja")
    else:
        print("No cumple criterio")

PE Ratio: 37.287278415656736
Deuda/Capital: 1.872326602282704
No cumple criterio