In [19]:
import pandas as pd

df = pd.read_parquet("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/historical/AAPL.parquet")
df.sort_values('Date')

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
0,2015-01-02,24.288584,27.332500,27.860001,26.837500,27.847500,212818400,AAPL
1,2015-01-05,23.604332,26.562500,27.162500,26.352501,27.072500,257142000,AAPL
2,2015-01-06,23.606556,26.565001,26.857500,26.157499,26.635000,263188400,AAPL
3,2015-01-07,23.937574,26.937500,27.049999,26.674999,26.799999,160423600,AAPL
4,2015-01-08,24.857309,27.972500,28.037500,27.174999,27.307501,237458000,AAPL
...,...,...,...,...,...,...,...,...
2617,2025-05-30,200.850006,200.850006,201.960007,196.779999,199.369995,70819900,AAPL
2618,2025-06-02,201.699997,201.699997,202.130005,200.119995,200.279999,35423300,AAPL
2619,2025-06-03,203.270004,203.270004,203.770004,200.960007,201.350006,46381600,AAPL
2620,2025-06-04,202.820007,202.820007,206.240005,202.100006,202.910004,43604000,AAPL
2621,2025-06-05,200.630005,200.630005,204.750000,200.149994,203.500000,55126100,AAPL