In [1]:
import pandas as pd

df = pd.read_parquet("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/historical/AAPL.parquet")
df.sort_values('Date')

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
0,2015-01-02,24.288584,27.332500,27.860001,26.837500,27.847500,212818400,AAPL
1,2015-01-05,23.604332,26.562500,27.162500,26.352501,27.072500,257142000,AAPL
2,2015-01-06,23.606556,26.565001,26.857500,26.157499,26.635000,263188400,AAPL
3,2015-01-07,23.937574,26.937500,27.049999,26.674999,26.799999,160423600,AAPL
4,2015-01-08,24.857309,27.972500,28.037500,27.174999,27.307501,237458000,AAPL
...,...,...,...,...,...,...,...,...
2617,2025-05-30,200.850006,200.850006,201.960007,196.779999,199.369995,70819900,AAPL
2618,2025-06-02,201.699997,201.699997,202.130005,200.119995,200.279999,35423300,AAPL
2619,2025-06-03,203.270004,203.270004,203.770004,200.960007,201.350006,46381600,AAPL
2620,2025-06-04,202.820007,202.820007,206.240005,202.100006,202.910004,43604000,AAPL
2621,2025-06-05,200.630005,200.630005,204.750000,200.149994,203.500000,55126100,AAPL

In [4]:
df = pd.read_csv("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/processed/fundamentals_evolucion.csv")
df.head()

,ticker,year,EPS,BVPS,P/E,P/B,ROE,Debt/Equity,Current Ratio,Dividend Yield,Payout Ratio,Net Margin,Asset Turnover,Price/Sales,Free CF/Share,Operating CF/Share,Graham Number,EPS Growth (%),Precio Actual,Margen Graham (%)
0,A,2020,2.33,15.770227,43.874562,6.473591,0.147548,0.484096,2.327880,0.007037,0.308762,0.134669,0.554586,5.908562,2.595469,2.980583,28.753332,NaN,113.940002,-74.76
1,A,2021,3.98,17.726974,39.459702,8.859944,0.224531,0.506402,2.224239,0.004943,0.195041,0.191486,0.590285,7.555980,4.263158,4.884868,39.842822,70.82,113.940002,-65.03
2,A,2022,4.19,17.742475,32.987759,7.797672,0.236381,0.521960,2.030091,0.006044,0.199362,0.183119,0.650209,6.040691,3.414716,4.387960,40.898311,5.28,113.940002,-64.11
3,A,2023,4.22,19.880952,24.508694,5.199449,0.212147,0.467921,2.611354,0.008720,0.213710,0.181472,0.634860,4.447648,5.013605,6.027211,43.447629,0.72,113.940002,-61.87
4,A,2024,4.44,20.337931,29.317223,6.407240,0.218549,0.574771,2.089182,0.007251,0.212568,0.198003,0.549553,5.804900,4.734483,6.037931,45.075041,5.21,113.940002,-60.44

In [31]:
df = pd.read_csv("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/processed/fundamentals_evolucion.csv")
df.head()

,ticker,year,EPS,BVPS,P/E,P/B,ROE,Debt/Equity,Current Ratio,Dividend Yield,...,Net Margin,Asset Turnover,Price/Sales,Free CF/Share,Operating CF/Share,Graham Number,Filing Date,Precio Post-Filing,Margen Graham (%),EPS Growth (%)
0,A,2020,2.33,15.770227,43.874562,6.473591,0.147548,0.484096,2.327880,0.007037,...,0.134669,0.554586,5.908562,2.595469,2.980583,28.753332,2020-12-18,117.812001,-75.59,NaN
1,A,2021,3.98,17.726974,39.459702,8.859944,0.224531,0.506402,2.224239,0.004943,...,0.191486,0.590285,7.555980,4.263158,4.884868,39.842822,2021-12-17,154.076001,-74.14,70.82
2,A,2022,4.19,17.742475,32.987759,7.797672,0.236381,0.521960,2.030091,0.006044,...,0.183119,0.650209,6.040691,3.414716,4.387960,40.898311,2022-12-21,149.193997,-72.59,5.28
3,A,2023,4.22,19.880952,24.508694,5.199449,0.212147,0.467921,2.611354,0.008720,...,0.181472,0.634860,4.447648,5.013605,6.027211,43.447629,2023-12-20,139.264001,-68.80,0.72
4,A,2024,4.44,20.337931,29.317223,6.407240,0.218549,0.574771,2.089182,0.007251,...,0.198003,0.549553,5.804900,4.734483,6.037931,45.075041,2024-12-20,135.316000,-66.69,5.21

In [8]:
df[df["Margen Graham (%)"] > 0].sort_values(
    by=["ticker", "year", "Margen Graham (%)"],
    ascending=[True, True, False]
).head(10)

,ticker,year,EPS,BVPS,P/E,P/B,ROE,Debt/Equity,Current Ratio,Dividend Yield,Payout Ratio,Net Margin,Asset Turnover,Price/Sales,Free CF/Share,Operating CF/Share,Graham Number,EPS Growth (%),Precio Año,Margen Graham (%)
25,ACGL,2020,3.38,32.515792,10.343818,1.109307,0.107243,0.230187,10.619644,0.002862,0.029606,0.169443,0.191648,1.752688,7.062516,7.161438,49.727517,NaN,36.070000,37.86
26,ACGL,2021,5.34,34.578023,8.072893,1.285499,0.159236,0.201123,9.585571,0.002773,0.022383,0.241678,0.197892,1.951039,8.643707,8.749371,64.455794,57.99,44.450001,45.01
28,ACGL,2023,11.94,49.777597,6.163257,1.492037,0.242086,0.148532,0.000000,0.001461,0.009003,0.325876,0.231454,2.008460,15.451587,15.592623,115.640613,206.15,74.269997,55.70
29,ACGL,2024,11.47,55.892617,7.977824,1.652275,0.207109,0.131028,0.000000,0.055406,0.442022,0.247248,0.245959,1.972499,17.777181,17.914094,120.101987,-3.94,92.349998,30.05
48,ADM,2023,6.44,44.606285,11.217634,1.619054,0.144331,0.397646,1.595059,0.025006,0.280505,0.037079,1.719445,0.415937,5.482440,8.243993,80.395588,-16.58,72.220001,11.32
49,ADM,2024,3.77,46.376569,13.415867,1.089343,0.081198,0.520480,1.390210,0.040789,0.547222,0.021045,1.605564,0.282340,2.566946,5.836820,62.720750,-41.46,50.520000,24.15
74,AES,2024,2.38,5.161473,5.411686,2.493474,0.460757,7.963227,0.796990,0.053157,0.287671,0.136749,0.258997,0.740041,-6.572238,3.898017,16.625188,543.24,12.870000,29.18
75,AFL,2020,6.69,47.021026,6.642597,0.945747,0.142376,0.235377,23.990345,0.024229,0.160946,0.214635,0.134845,1.425737,8.348022,8.348022,84.129899,NaN,44.470001,89.18
76,AFL,2021,6.42,49.364847,9.296265,1.182826,0.127237,0.239257,24.070062,0.021738,0.202080,0.196371,0.136764,1.825513,7.498326,7.498326,84.443781,-4.04,58.389999,44.62
81,AIG,2021,12.10,77.202881,4.685701,0.736501,0.157181,0.457320,0.000000,0.022892,0.107263,0.199523,0.087163,0.934904,7.284152,7.284152,144.977531,-276.90,56.860001,154.97

In [32]:
df[df["ticker"] == "ABBV"]

,ticker,year,EPS,BVPS,P/E,P/B,ROE,Debt/Equity,Current Ratio,Dividend Yield,...,Net Margin,Asset Turnover,Price/Sales,Free CF/Share,Operating CF/Share,Graham Number,Filing Date,Precio Post-Filing,Margen Graham (%),EPS Growth (%)
10,ABBV,2020,2.73,7.844031,38.695635,13.660068,0.353013,6.581217,0.843411,0.043198,...,0.100777,0.304214,3.899639,10.071986,10.550690,21.950390,2021-02-19,107.016666,-79.49,NaN
11,ABBV,2021,6.48,8.705085,20.763992,15.554128,0.749091,4.976895,0.793544,0.038643,...,0.205385,0.383521,4.264605,12.423729,12.868362,35.625852,2022-02-18,146.231998,-75.64,137.36
12,ABBV,2022,6.65,9.742518,24.181422,16.588113,0.685986,3.667034,0.963606,0.035089,...,0.203879,0.418241,4.930088,13.691700,14.084133,38.180156,2023-02-17,151.752002,-74.84,2.62
13,ABBV,2023,2.73,5.859729,56.341139,26.446618,0.469402,5.732143,0.872123,0.038465,...,0.089528,0.403219,5.044128,12.478507,12.917986,18.971922,2024-02-20,177.255000,-89.30,-58.95
14,ABBV,2024,2.40,1.879593,73.480902,94.541744,1.286617,20.193684,0.660198,0.035072,...,0.075940,0.416792,5.580135,10.080271,10.630865,10.074623,2025-02-14,197.886002,-94.91,-12.09

In [30]:
import pandas as pd

df = pd.read_parquet("/Users/alvaroriverofernandezdelarrea/Desktop/PROYECTOS/proyecto_inversor_inteligente/data/historical/ABBV.parquet")
df["Date"] = pd.to_datetime(df["Date"])  # Asegúrate de que es tipo datetime

df_filtrado = df[(df["Date"] >= "2025-02-14") & (df["Date"] <= "2025-02-21")]
df_filtrado.head(10)

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
2545,2025-02-14,191.103912,192.869995,195.179993,192.779999,193.949997,3976900,ABBV
2546,2025-02-18,194.452957,196.250000,197.020004,190.669998,192.000000,6065500,ABBV
2547,2025-02-19,195.542892,197.350006,198.110001,196.009995,196.789993,4888700,ABBV
2548,2025-02-20,199.040573,200.880005,201.360001,196.830002,198.000000,5067000,ABBV
2549,2025-02-21,200.229584,202.080002,203.979996,200.020004,200.320007,5889400,ABBV